* {
    --border-color: #A40000;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

nav {
    background-color: #cccccc;
    padding: 1em;
    border-bottom: 2px solid var(--border-color);
}

nav a {
    padding: 1em;
}


h1,
h3 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    display: inline-block;
}

h1 {
    font-size: 22pt;
}

h3 {
    font-size: 18pt;
}


section {
    padding: 2em;
}

#mission #citazione {
    text-align: center;
    border: 1px solid var(--border-color);
}

#pictures {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pictures :not(:last-child, img) {
    border-right: 2px solid var(--border-color);
}

figure {
    text-align: center;
}

figure img {
    border-radius: 10px;
    width: 180px;
}

figure #profilePic {
    width: 210px;
}


footer {
    background: #010101;
    color: #FFFFFF;
    border-top: 2px solid var(--border-color);
    padding: 2em;
}