#alert {
    z-index: 1;
    padding: 1em 2em;
    border-radius: 1em;
    display: none;
}

.alert-danger {
    background: var(--error-color);
    color: white;
}

.alert-success {
    background: var(--success-color);
    color: white;
}

.alert-icon {
    font-size: 1.5em;
}