html,
body,
.content {
    height: 100%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin-top: 5em;
}

.navbar .nav-item .nav-link i {
    font-size: 2rem;
}

.navbar .nav-item .nav-link.active i {
    color: var(--primary-color);
}

#login {
    display: flex;
}

#signUp {
    display: none;
}

#changeToSignUp,
#changeToLogin {
    cursor: pointer;
}

#loginForm .form-floating,
#signUpForm .form-floating {
    min-width: 20em;
    width: calc((60em - 100%) * 1000);
    max-width: 50%;
}

.input-group {
    min-width: 400px;
}

.input-group-text {
    border-radius: 20em 0 0 20em;
    background: var(--primary-color);
    color: white;
}

/* NAV BAR */

.vr {
    width: 1px;
    height: 2em;
    background-color: var(--secondary-color);
}

#home-search-expanded,
#home-search {
    width: min-content;
    background-color: white;
    transition: box-shadow 0.2s ease-in-out;
}

#home-search:hover,
nav .dropdown button:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

#home-search button:not(:last-child) {
    all: unset;
    padding: 1em .9em;
    white-space: nowrap;
    cursor: pointer;
}

#home-search-expanded button:not(:last-child),
#home-search-expanded div:not(:last-child) {
    all: unset;
    padding: 1em 3em;
    white-space: nowrap;
    cursor: pointer;
}

#home-search button:last-child {
    width: 3em;
    height: 3em;
}

#home-search-expanded button:last-child,
#home-search-expanded div:last-child {
    width: 7em;
    height: 3em;
}

#home-search-expanded button:not(:last-child, .active):hover,
#home-search-expanded div:not(:last-child, .active):hover {
    background: rgba(0, 0, 0, 0.1);
}

#home-search-expanded div.active {
    background-color: var(--secondary-color);
    color: white;
}

#home-search-expanded input {
    all: unset;
    cursor: text;
}

.dropdown .bi {
    font-size: 1.5em;
    color: var(--grey-color);
}

.dropdown .img-thumbnail {
    width: 2.5em;
}