@import "alert.css";
@import "navbar.css";

:root {
    --bg-color: #EEEDF2;
    --text-color: #3b3b3b;
    --primary-color: #526799;
    --primary-color-025: #52679940;
    --secondary-color: #F37B67;
    --success-color: #00D23C;
    --error-color: #EE296B;
    --warning-color: #fabe47;
    --info-color: #65c4ff;
    --grey-color: #818181;
    --border-radius: 20em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

.content {
    background: var(--bg-color);
    flex: 1 1 auto;
    overflow: auto;
}

/* FOOTER */
footer {
    background: var(--bg-color);
    text-align: center;
}