nav {
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); */
    z-index: 1;
    transition: box-shadow .2s ease;
}

#logo img {
    width: 7em;
}

nav #expanded {
    background: var(--backgroundColor);
}

#collapsed,
#expanded .close {
    display: none;
}

nav .close,
nav .open {
    cursor: pointer;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: .2em 0;
}

nav ul li {
    text-align: center;
}

nav li a {
    display: block;
    text-align: center;
    color: var(--grey-900);
    letter-spacing: var(--letterSpacing);
    transition: var(--transition);
}

nav li a:hover {
    color: var(--primary-500);
}

/* EXPANDED */

nav #expanded #logo {
    grid-column: 1/3;
}

nav #expanded #add-recipe,
nav #expanded #admin-dashboard {
    grid-column: 3/5;
    margin: 0 1em;
}

nav #expanded #add-ingredient,
nav #expanded #admin-control-panel {
    grid-column: 5/7;
    margin: 0 1em;
}

nav #expanded #search {
    grid-column: 7/11;
    margin: 0 2em;
}

nav #expanded #login,
nav #expanded #profile {
    grid-column: 11/13;
    margin: 0 3em;
}

nav #expanded #nav-search {
    /* all: unset; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid var(--primary-500);
    border-radius: 25px;
}

.input-with-icon {
    border: none;
    flex: 1;
}

.input-icon {
    color: var(--white);
    background-color: var(--primary-500);
    padding: 1.5em 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100% 0 0 100%;
}

nav #expanded #nav-search input {
    border-radius: 0 25px 25px 0;
    height: 2em;
    padding-left: 1em;
    width: 100%;
    height: 2.5em;
    outline: none;
}

nav #expanded #nav-search input:focus,
nav #expanded #nav-search button:focus {
    box-shadow: 0 0 0 .25rem var(--primary-500-025);
}

nav #expanded #nav-search button ion-icon {
    color: var(--backgroundColor);
}

/* MEDIA QUERIES */

/* small screen */
@media screen and (max-width: 992px) {
    nav #expanded #search {
        grid-column: 6/10;
    }

    nav #expanded #add-recipe,
    nav #expanded #admin-dashboard {
        grid-column: 4/6;
    }
}

/* tablet screen */
@media screen and (max-width: 768px) {
    nav #expanded #search {
        grid-column: 7/11;
    }

    nav #expanded #add-recipe,
    nav #expanded #admin-dashboard {
        grid-column: 3/5;
    }

    nav #expanded #add-ingredient,
    nav #expanded #admin-control-panel {
        grid-column: 5/7;
    }
}

/* mobile screen */
@media screen and (max-width: 576px) {

    nav #expanded {
        display: none;
    }

    nav #collapsed {
        display: grid;
    }

    nav ul#collapsed {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    nav #collapsed #logo {
        grid-row: 1/2;
    }

    nav #collapsed .open {
        position: absolute;
        top: 1em;
        right: 1em;
        color: var(--primary-500);
    }

    nav ul#expanded {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    nav #expanded #logo {
        grid-column: 1;
        grid-row: 1/2;
    }

    nav #expanded .close {
        position: absolute;
        top: 1em;
        right: 1em;
        color: var(--primary-500);
    }

    nav #expanded #search {
        grid-column: 1;
        grid-row: 4/5;
        padding: 0 2em;
    }

    nav #expanded #add-recipe,
    nav #expanded #admin-dashboard {
        grid-column: 1;
        grid-row: 2/3;
    }

    nav #expanded #add-ingredient,
    nav #expanded #admin-control-panel {
        grid-column: 1;
        grid-row: 3/4;
    }

    nav #expanded #login,
    nav #expanded #profile {
        grid-column: 1;
        grid-row: 5/6;
    }
}