/*
=============== 
Recipes 
===============
*/

/* hide all input of cooking method table execpt for the last one */
#cooking-method-table input:not(#cookingMethodName),
#ingredient-table input {
    display: none;
}

#cooking-method-table span,
#ingredient-table span {
    display: block;
}

.recipes-container {
    display: grid;
    gap: 2rem 1rem;
}

.recipes-list,
.liked-recipes-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
}

.ingredients-container {
    /*gap: 2rem 1rem;
    padding-bottom: 3rem;*/
    /*background: blue;*/
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    gap: 3rem;
}

.ingredients-list {
    display: grid;
    grid-template-columns: 1fr;
}

.tags-container {
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#add-ingredients-list hr,
#add-ingredients-list p {
    margin: 0;
    padding: 0 2em;
}

#add-ingredients-list {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ingredients-list a {
    text-transform: capitalize;
    display: block;
    width: 10%;
    color: var(--grey-500);
    transition: var(--transition);
}

.ingredients-list a:hover {
    color: var(--primary-500);
}

.tags-list a {
    text-transform: capitalize;
    display: block;
    color: var(--grey-500);
    transition: var(--transition);
}

.tags-list a:hover {
    color: var(--primary-500);
}

.recipe {
    display: block;
    transition: transform 0.3s ease;
}

.recipe:hover {
    transform: scale(1.1);
}

.recipe-img {
    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
}

.recipe a {
    text-decoration: none;
}

.recipe a+h5 {
    cursor: pointer;
    user-select: none;
}

.recipe h5 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    line-height: 1;
    color: var(--grey-700);
}

.star-icon {
    float: left;
    color: white !important;
    border: 1px solid var(--primary-500);
    border-radius: 10em;
    padding: .25em .5em;
    background-color: var(--primary-500);
}

.recipe p {
    margin-bottom: 0;
    line-height: 1;
    color: var(--grey-500);
    margin-top: 0.5rem;
    letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 576px) {

    .recipes-list,
    .liked-recipes-list {
        grid-template-columns: 1fr 1fr;
    }

    .recipe-img {
        height: 10rem;
    }
}

@media screen and (min-width: 992px) {
    .recipes-container {
        grid-template-columns: 200px 1fr;
        gap: 1rem;
    }

    .recipes-list,
    .liked-recipes-list {
        grid-template-columns: 1fr 1fr;
    }

    .recipe p {
        font-size: 0.85rem;
    }

    .tags-container {
        order: 0;
    }

    .tags-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .recipe h5 {
        font-size: 1.15rem;
    }

    .recipes-list,
    .liked-recipes-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/*
=============== 
Recipe Template
===============
*/

.recipe-hero {
    display: grid;
    gap: 3rem;
}

.recipe-hero-img {
    height: 300px;
    border-radius: var(--borderRadius);
}

.recipe-chef {
    display: flex;
    align-items: center;
}

.recipe-chef h4 {
    margin-left: .5em;
    margin-bottom: 0;
}

.recipe-info p {
    color: var(--grey-600);
}

.recipe-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
}

.recipe-icons i {
    font-size: 1.5rem;
    color: var(--primary-500);
}

.recipe-icons h5,
.recipe-icons p {
    margin-bottom: 0;
    font-size: 0.85em;
}

.recipe-icons p {
    color: var(--grey-600);
}

.recipe-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.7em;
    font-weight: 600;
}

.recipe-tags a {
    background: var(--primary-500);
    border-radius: var(--borderRadius);
    color: var(--white);
    padding: 0.05rem 0.5rem;
    margin: 0 0.25rem;
    text-transform: capitalize;
}

@media screen and (min-width: 992px) {
    .recipe-hero {
        grid-template-columns: 4fr 5fr;
        align-items: center;
    }
}

.recipe-content {
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
}

@media screen and (min-width: 992px) {
    .recipe-content {
        grid-template-columns: 2fr 1fr;
    }
}

.single-instruction header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}

.single-instruction header p {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-500);
    margin-bottom: 0;
}

.single-instruction>p {
    color: var(--grey-700);
}

.single-instruction header div {
    height: 2px;
    background: var(--grey-300);
}

.second-column {
    display: grid;
    row-gap: 2rem;
}

.single-ingredient {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--grey-700);
}